@charset "utf-8";
/* CSS Document */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.parallax-container1{
		height: 150px;
		background-attachment: local;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.parallax-container1{
		height: 200px;
		background-size: contain;
		background-attachment: local;
	}
	
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.parallax-container1{
		height: 300px;
		background-size: contain;
		background-position: bottom;
	}
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	.parallax-container1{
		height: 690px;
		background-size: contain;
		background-position: bottom;
		background-attachment: fixed;
		margin-bottom: -30px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.parallax-container1{
		height: 690px;
		background-size: contain;
		background-position: bottom;
		background-attachment: fixed;
	}
}