@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: verdana, sans-serif;
    src: url('../fonts/verdana.ttf');
}
body,html{
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: verdana, Tahoma, sans-serif;
	color:rgba(0,0,0,0.8);
/*	min-width: 300px;*/
}
p{
	font-size: 14px;
	line-height: 2em;
}
.content2 p{
	line-height: 1.4em;
}
h4{
	border-radius:25px;
	transition: 0.6s;
}
a{
	text-decoration: none;
}
img{
	transition: 0.6s;
}
img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.width-box{
	width: 1200px;
	max-width: 1500px;
	margin: auto;
	
}
.top-ban{
	display: flex;
	width: 100%;
	height: 20px;
	background-color:teal;
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 10000;
	color: white;
	margin-bottom: 200px;
}
.ban-width{
	display: flex;
	justify-content: flex-end;
}
.top-ban .ban-width label {
	font-size: 12px;
	margin:0px 10px;
}
.top-ban img{
	width: 20px;
	height: 15px;
	margin:0px 10px;
}
.container{
	max-width: 100% !important;
	overflow: hidden;
	display: flex;
	margin: auto;
	background-color: whitesmoke;
	flex-wrap: wrap;
	position: relative;
}
/*--------Start top bar--------*/
.btn-menu .bar{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}
	
.top-bar{
	width: 100%;
	height: auto;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	box-shadow: 1px 1px 1px #ccc;
	background-color: whitesmoke;
	z-index: 100;
	padding: 20px 0px;
	padding-top:25px;
	justify-content: space-around;
}
.top-width{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 1400px;
}
.logo-wrap{
	width: auto;
	height: auto;
	margin-right: 80px;
}
.logo-wrap span{
	color: 	rgb(243, 111, 33);
	font-size: 10px;
}
.logo{
	width: 70px;
	height: 40px;
}
.logo img{
	width: 100%;
	height: 100%;
}
.menu-bar {
	display: flex;
	align-content: space-between;
	align-self: center;
}
.menu-bar ul{
	list-style-type: none;
	align-content: space-evenly;
	padding: 0px;
	display: flex;
	
	margin: 0px;
	
}
.menu-bar ul li{
	flex-basis: auto;
	margin-left: 25px;
}

.menu-bar ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color:rgba(0,0,0,0.6);
	cursor: pointer;
	font-size: 15px;
	padding: 15px 0px 0px;
}
	
.menu-bar ul li a:hover{
	color: rgb(243, 111, 33);
	text-decoration-line: underline;
}

.menu-strike{
	background-color: black;
	width: 18px;
	height: 4px;
	border-radius: 10px;
	margin: 2px;
	opacity: 0.5;
}
.btn-phone-menu{
	width: 22px;
	height: 23px;
	background-color:#eee;
	padding: 10px;
	border:1px solid #ccc;
	border-radius: 7px;
	position: absolute;
	right: 10px;
	top: 95px;
	align-self: flex-end;
	cursor: pointer;
	animation:faded 1s;
	transition: 0.3s;
	display: none;
}
.btn-phone-menu:hover{
	background-color: rgb(243, 137, 75);
}
.btn-phone-menu:hover .menu-strike{
	background-color: white;
	opacity: 1;
}
.phone-menu-bar{
	width: 100%;
	height:320px;
	position: fixed;
	top: 120px;
	left: 0px;
	background:rgba(0,0,0,0.8);
	display: none;
	z-index: 10px;
	animation:slidedown 0.3s;
}
.phone-menu-bar ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 20px 5px;	
}
.phone-menu-bar ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color:#eee;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
	text-align: center;
}
.phone-menu-bar ul li a:hover {
	color: tomato;
	text-decoration: underline;
}
.btn-phone-menu:hover .phone-menu-bar{
	display: block;
}

.btn-phone-menu:hover{
	top:75px;
}

/*----------End top---------*/

/*---------Start body-------*/
.parallax-container1{
	position: relative;
	width: 100%;
	height: 530px;
	margin-top: 120px;
	background-image: url('../img/cambodia1.png');
	background-position:  center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	animation: fade-color 7s linear 0.3s infinite ;
	display: flex;
	justify-content: center;
}
.width-wrap1{
	width:1400px;
	max-width: 1500px;
	position: absolute;
	top: 0px;
	height: 100%;
}
.width-wrap{
	width:1400px;
	max-width: 1500px;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
 	animation: slidein3 10s linear 0.1s infinite;
}

.para1{
	font-family:Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black,' sans-serif';
	width: 430px;
	top:10%;
	left: 15%;
	border-radius: 0px 10px 10px 10px;
	background:#fff;
	opacity: 0.8;
	height: auto;
	position: absolute;
	font-size: 30px;
	padding: 20px;
	border:1px solid #ccc;
	box-shadow: 1px 1px 4px black;
	color: black;
	animation-duration: 3s;
 	animation-name: slidein1;
}

.para2{
	font-family:Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black,' sans-serif';
	width: 500px;
	background-color: rgba(243, 111, 33,0.8);
	color: white;
	top:55%;
	border-radius: 10px 0px 10px 10px;
	right: 15%;
	height: auto;
	position: absolute;
	font-size: 30px;
	padding: 20px;
	border:1px solid #ccc;
	box-shadow: 1px 1px 4px black;
	animation-duration: 3s;
 	animation-name: slidein2;
}
.img-wrap{
	width: 100%;
	display: none;
	animation: fade-color 5s linear 2s infinite ;
}
.img-wrap .img1{
	width: 100%;	
	margin-bottom: -3px;
}
.box1{
	display: flex;
	justify-content: center;
	width: 100% !important;
	background-color:rgba(243, 111, 33,0.9); 
	position: relative;
}
.box1 center{
	width: 1400px;
	max-width: 1500px;
	padding: 60px;
}
.box1 h1{
	color:whitesmoke;
}
.box1 p{
	color:bisque;
}
.box1 h4{
	color:mistyrose;
	text-shadow: 1px 2px 4px brown;
}

.about-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #eee;
}
.about-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content1{
	width: 70%;
}
.content1 img{
	width: 100%;
}
.content2{
	flex-basis: 30%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.content2 center{
	padding: 0px 15px;	
}
.content2 h4
{
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px;
	background-color: teal;
	color: #eee;
	cursor: pointer;
}
.content2 p{
	font-size: 15px;	
}
.content2 h4:hover
{
	background-color:brown;
}
.content3{
	align-self: flex-end;		
}
.content3 img{
	width: 100%;	
}
.province-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
	margin: -3px 0px;
}
.province-wrap .content1{
	order: 2;	
}
.place-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
}
.food-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
	margin: -3px 0px;
}


.about-contact-wrap{
	width: 100%;
	display: flex;
	background-color: rgb(241, 241, 241);
	padding: 40px 0px;
}
.about-contact-wrap .about-contact{
	display: flex;
	justify-content: center;
}
.us-wrap{
	width: 100%;
	padding: 20px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.us-wrap .wrap1{
	flex-basis: 45%;
}
.us-wrap .wrap1 h4{
	font-size: 30px;	
}
.us-wrap .wrap1 p{
	text-align: justify;
}
.us-wrap .wrap2{
	flex-basis: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.us-wrap .wrap2 img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.parallax-container2{
	position: relative;
	width: 100%;
	height: 430px;
	background-image: url('../img/temple-container.png');
	background-position:  right;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:cover;
	display: flex;
	justify-content: center;
}
.contact-wrap{
	position: absolute;
	top:25%;
}
.contact-wrap h4{
	font-size: 25px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
.contact-wrap p{
	font-size: 17px;
	color: #eee;

}
.contact-wrap button{
	padding: 20px;
	border:none;
	border-radius: 5px;
	background-color: rgb(243, 124, 53);
	color: white;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
}
.contact-wrap button:hover{
	background-color: teal;
}

/*Animation*/
@keyframes faded{
	from{opacity: 0.2;}
	to{opacity: 1;}
}
@keyframes slidein1 {
  from {
    margin-left: 100%;
	opacity: 0.1;
	}
  to {
   margin-left: 0%;
	  opacity: 0.8;
  }
}
@keyframes slidein2 {
  from {
    	margin-right: 100%;
		opacity: 0.1;
	}
  to {
   margin-right: 0%;
		opacity: 1;
  }
}
@keyframes slidein3 {
  from {
    margin-left: -100%;
	}
  to {
   margin-left: 100%;
  }
	   
}
@keyframes slidedown {
  from {
    height: 0%;
	}
  to {
   height:320px;
  }
}
@keyframes fade-color{
    0%   {background-color:teal;}
    50%  {background-color:darkseagreen;}
    100%  {background-color:darkslategray;}
  
}
@keyframes myfirst {
    0%   {background-color:red; left:0px; top:0px;}
    50%  {background-color:yellow; left:200px; top:0px;}
    100%  {background-color:blue; left:0px; top:0px;}
  
}
/*---------End body---------*/

/*---------Start footer-----*/
footer{
	margin-top: -10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding:30px 0px 0px 0px;
	background-color: rgb(243, 124, 53);
}
.footer-wrap{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 20px;
}
.footer-wrap h4{
	text-transform: uppercase;
	color: white;
}

.footer-wrap b{
	color: white;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
}
.footer-about{
	flex-basis: 30%;
}	
.footer-contact{
	flex-basis:30%;
	margin: 0px 20px;
}
.footer-about p{
	color:white;
	opacity: 0.7;
	font-size: 14px;
	text-align: justify;
}
.footer-contact span{
	color:white;
	opacity: 0.7;
	font-size: 14px;
}
.footer-map{
	flex-basis: 30%;
}
.footer-bar{
	flex-basis:100%;
	background:teal;
	align-self: flex-start;
}
.footer-bar p{
	padding: 10px;
	margin: 0px;
	font-size: 13px;
	color: white;
	opacity: 0.8;
}
/*---------End footer-------*/

/*about-cambodia style*/
.box-style{
	border: 2px solid #eee;
	border-radius: 10px;
	background-color:ghostwhite;
	padding: 5px;
	box-sizing: border-box;
	
}
.wrap-body{
	margin-top: 160px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}	
.wrap-body p,.wrap-body-2 p {
	padding: 15px;	
}
.wrap-box{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	background-color: #eee;
	padding:10px 0px 20px 0px;
}
.wrap-box .content-bar{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color:#ccc;
}
.wrap-box .content-bar h3{
	width: 300px;
	padding: 15px;
	background-color:#eee;	
	text-align: center;
	border-radius: 10px;
}
.wrap-box-1{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 30%;
	margin: 10px 10px 20px;
}
.wrap-box .wrap-box-2{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 32%;
	
}
.wrap-box-1 .img-box img,.wrap-box-2 .img-box img{
	width: 100%;	
	border-radius: 10px;
}
.wrap-box-1 .title,.wrap-box-2 .title{
	width: 100%;	
}
.wrap-box-1 .title span,.wrap-box-2 .title span{
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: rgba(0,0,0,0.8);
}
.wrap-body-1{
	margin-top:30px;
	width: 100%;
	display: flex;
}	
.wrap-body-1 .wrap-box .content-bar{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 0px 10px;
	background-color:#ccc;
}
.wrap-body-1 .wrap-box .content-bar h3{
	width: 250px;
	padding: 15px;
	background-color:#eee;	
	text-align: center;
	border-radius: 10px;
}
.content-box{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:10px;
	}
.content-box p{
	padding: 15px 25px;
	font-size: 14px;
}
.content-box-1{
	width: 65%;
}
.content-box-1 h4{
	text-indent: 25px;
	width: 250px;
	background-color: teal;
	color: white;
	padding: 5px;
	margin: 5px;
}
.content-img{
	width: 35%;
	align-self: center;
}
.content-img img{
	width: 60%;
}
/*end about-cambodia style*/
/*contact us-style*/
.box-style{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
.box-contact{
	flex-basis:70%;
	padding: 2%;	
}
.email-box,.tel-box,.locate-box{
	display: flex;
	width: 100%;
	margin: 25px;
}
.box-form{
	flex-basis: 55%;
	background-color:white;
	box-shadow: 1px 1px 1px 2px #ccc;
	padding: 3% 2%;
	margin: 3%;
}
form{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.box-form input[type="text"],.box-form input[type="email"]{
	width: 92%;	
	padding: 2%;
	margin: 2%;
	border-radius: 3px;
	border:1px solid rgb(243, 111, 33);
	box-sizing: border-box;
	margin-bottom: 30px;
}
.box-form input[type="submit"]{
	width: 92%;
	background-color: rgb(243, 111, 33);
	border:none;
	padding: 2%;
	margin: 2%;
	border-radius: 3px;
	color: whitesmoke;
	font-size: 17px;
	box-shadow: 1px 1px 1px 1px #ccc;
	margin-bottom: 30px;
	cursor: pointer;
	transition: 0.8s;
}
.box-form textarea{
	width: 92%;
	height: 90px;
	padding: 2%;
	margin: 2%;
	border:1px solid rgb(243, 111, 33);
	box-sizing: border-box;
}
.box-form input[type="submit"]:hover{
	background-color: teal;
}
.box-contact .img-width{
	flex-basis: 80%;
	padding: 2%;
	}
.img-width img{
	width: 100% !important;	
}
	
/*end contact us style*/
/*start about us style*/
.box-style-us h2{
	font-size: 35px;	
}
.box-style-us{
	color: rgba(0,0,0,0.8);
}
.box-style-us a{
	display: block;
}
.profile-wrap{
	max-width: 960px;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}
.profile-wrap .wrap-box-3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background:white;
	padding: 4%;
	width: 30%;
}
.profile-wrap .wrap-box-3 .img-box{
	width: 100%;
}
.profile-wrap .wrap-box-3 .img-box img{
	width: 90%;	
	border:4px solid #eee;
	box-sizing: border-box;
	border-radius: 100%;
}
.wrap-body-aboutus{
	margin-top: 160px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color:ghostwhite;
	border:2px solid #eee;
}	
.box-aboutus{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 55%;
	padding: 2%;
}
.box-aboutus .p1 {
	padding: 0;
	margin: 0px 0px 25px;
	width: 100%;
}
.box-style-us{
	width: 960px;
	color: rgba(0,0,0,0.8);
}
/*end about us style*/
/*----start of province guide style----*/
.wrap-body-3{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.wrap-body-3 .box-wrap-1{
	width: 68%;
	display: flex;
	flex-wrap: wrap;
	border:2px solid #eee;
	background-color: ghostwhite;
	border-radius: 10px;
}
.wrap-body-3 .box-wrap-1 .article{
	width: 95%;
	padding: 0px 2%;
}
.wrap-body-3 .box-wrap-1 .content{
	width: 96%;
	padding: 0px 2%;
}
.wrap-body-3 .box-wrap-1 .wrap-img{
	width: 92%;
	padding: 0px 2%;
	margin: 2%;
}
.wrap-body-3 .box-wrap-1 .wrap-img center{
	border: 2px solid #eee;
}
.wrap-body-3 .box-wrap-1 .wrap-img img{
	width: 65%;	
	padding: 1%;
}
.wrap-body-3 .box-wrap-1 .wrap-img span{
	display: block;
	font-weight: bold;
	color: darkcyan;
	font-size: 13px;
}
.wrap-body-3 .box-wrap-1 .province-box{
	width: 96%;
	padding: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.wrap-body-3 .box-wrap-1 .province-box .article{
	width: 100%;
	padding: 0px;	
}	
.wrap-body-3 .box-wrap-1 .province-box .box{
	width: 22%;
	padding: 1%;
	background-color:white;
	border: 2px solid #eee;
	border-radius: 6px;
	margin: 0px 0px 5px 0px;
}
.wrap-body-3 .box-wrap-1 .province-box .box .box-img{
	width: 100%;	
}
.wrap-body-3 .box-wrap-1 .province-box .box .box-img img{
	width: 100%;	
}
.wrap-body-3 .box-wrap-1 .province-box .box .box-title{
	width: 100%;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}
.wrap-body-3 .box-wrap-2{
	width: 29%;
	border:2px solid #eee;
	background-color: ghostwhite;
	border-radius: 10px;
}
.wrap-body-3 .box-wrap-2 .article{
	width: 100%;	
	padding: 10px;
}
.wrap-body-3 .box-wrap-2 .article span{
	font-weight: bold;
}
.wrap-body-3 .box-wrap-2 .box-place{
	width: 95%;
	padding: 1%;
	margin: 1%;
	border:2px solid #eee;
	background-color:white;
	border-radius: 6px;
	display: flex;
}
.wrap-body-3 .box-wrap-2 .box-place .box-img{
	width: 40%;
}
.wrap-body-3 .box-wrap-2 .box-place .box-img img{
	width: 100%;	
}
.wrap-body-3 .box-wrap-2 .box-place .box-title{
	width:60%;
}
.wrap-body-3 .box-wrap-2 .box-place .box-title span{
	font-weight: bold;
	font-size: 11px;
	color: black;
	padding: 0px 5px;
}
.wrap-body-3 .box-wrap-2 .box-place .box-title p{
	padding: 0px;
	font-size: 11px;
}
/*----end of province guide style----*/
/*---start of khmer food style--*/
.box-wrap-1 .title{
	width: 96%;
	padding: 0px 2%;
}
.box-wrap-1 .box-food-img{
	width: 100%;
	
}
.box-wrap-1 .box-food-img img{
	width: 80%;
	padding:2% 2%;
	margin: 0px 3%;
	background-color:white;
	border: 2px solid #eee;
}
.box-wrap-1 .box-content{
	width: 96%;
	padding: 0px 2%;
}
.box-wrap-1 .food-cover{
	width: 100%;	
}
.box-wrap-1 .food-cover .box-food{
	width: 92%;	
	border: 2px solid #eee;
	background: white;
	padding: 2%;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}
.box-wrap-1 .food-cover .box-food .box-img img{
	width:  100%;	
}
.box-wrap-1 .food-cover .box-food .box-img{
	width:  30%;	
}

.box-wrap-1 .food-cover .box-title{
	width: 70%;
}
.box-wrap-1 .food-cover .box-title p{
	text-align: justify;
}
/*----end of khmer food style---*/
/*--------Query Media---------*/
/* Large desktop */   

@media (min-width: 991px) and (max-width: 1024px) {
	.wrap-body{
		margin-top: 170px;
		
	}
	.logo-wrap{
		margin-right: 0px;
	}
	.btn-phone-menu{
		display: none;
	}
	
	.top-bar{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
	.logo-wrap{
		flex-basis: 100%;
		align-self: center;
	}
	.parallax-container1{
		margin-top: 160px;	
		background-size:contain;
		height: 430px;
		background-position: 50% 35%;
	}
	.para1{
		left: 220px;
	}
	.para2{
		right: 220px;
	}
	.box-contact{
		flex-basis: 42%;
		padding: 2%;
		margin: 2%;
	}
	.box-form{
		flex-basis: 42%;
		padding: 2%;
		margin: 2%;
	}
	.box-wrap-1 .food-cover{
		flex-wrap: wrap;
		display: flex;
	}
	.box-wrap-1 .food-cover .box-food{
		width: 42%;
	}
	.box-wrap-1 .food-cover .box-food .box-img{
		flex-basis: 100%;	
	}
	.box-wrap-1 .food-cover .box-food .box-title{
		width: 100%;	
		
	}
	.box-wrap-1 .food-cover .box-food .box-title p{
		line-height: 1.4em;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
	
	.logo-wrap{
		margin-right: 0px;
	}
	.btn-phone-menu{
		display: block;
	}
	.menu-bar{
		display: none;
	}
	.top-bar{
		display: flex;
		justify-content: center;
	}
	.parallax-container1{
		display: none;
	}
	.img-wrap{
		display: block;
		margin-top: 120px;
	}
	.box1 center{
		padding: 30px;
	}
	.parallax-container2{	
		height: 330px;
		background-attachment: scroll;
	}
	.about-wrap,.food-wrap,.province-wrap,.place-wrap{
		border-bottom:1px solid #ccc;
	}
	.content1{
		order:2;
		align-self: center;
	}
	
	.content2 p,.content1 p{
		font-size: 12px;
	}
	.footer-wrap{
		width: 100%;
	}
	.footer-wrap .footer-about{
		flex-basis: 100%;
		margin: 0px 10px;
	}	
	.footer-wrap .footer-contact{
		flex-basis:100%;
		margin: 0px 10px;
	}
	.footer-map{
		flex-basis: 90%;
	}
	.box-contact{
		flex-basis: 92%;
		padding: 2%;
		margin: 2%;
	}
	.box-form{
		flex-basis: 92%;
		padding: 2%;
		margin: 2%;
	}
	.profile-wrap .wrap-box-3{
		margin-bottom: 10px;
		margin-right: 2%;
		width: 48%;
	}
	.wrap-body-3 {
		flex-wrap: wrap;
	}
	.wrap-body-3 .box-wrap-1{
		width: 100%;	
		margin-bottom: 25px;
	}
	.wrap-body-3 .box-wrap-1 .province-box .box{
		width: 30%;	
	}
	.wrap-body-3 .box-wrap-2{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.wrap-body-3 .box-wrap-2 .box-place{
		width: 28%;	
		flex-wrap: wrap;
	}
	.wrap-body-3 .box-wrap-2 .box-place .box-img{
		width: 100%;
	}
	.wrap-body-3 .box-wrap-2 .box-place .box-title{
		width: 100%;	
	}
	.box-style p{
		line-height: 1.4em;	
	}
	.box-wrap-1 .food-cover{
		flex-wrap: wrap;
		display: flex;
	}
	.box-wrap-1 .food-cover .box-food{
		width: 42%;
	}
	.box-wrap-1 .food-cover .box-food .box-img{
		flex-basis: 100%;	
	}
	.box-wrap-1 .food-cover .box-food .box-title{
		width: 100%;	
		
	}
	.box-wrap-1 .food-cover .box-food .box-title p{
		line-height: 1.4em;
	}
}
/* landscape phone */
@media (min-width: 480px) and (max-width: 767px) {
	
	.logo-wrap{
		margin-right: 0px;
	}
	.btn-phone-menu{
		display: block;
	}
	.menu-bar{
		display: none;
	}
	.top-bar{
		display: flex;
		justify-content: center;
	}
	.parallax-container1{
		display: none;
	}
	.img-wrap{
		display: block;
		margin-top: 120px;
	}
	.box1 center{
		padding: 15px;
	}
	.content1{
		flex-basis: 100%;
		order: 3;
	}
	.content2{
		flex-basis: 100%;
	}
	.content2 center{
		flex-basis: 100%;
	}
	.content2 h4{
		margin: 10px -15px;
	}
	.content2 .content3{
		flex-basis: 100%;
	}
	.parallax-container2{	
		height: 280px;
		background-attachment: scroll;
	}
	.us-wrap .wrap1,.us-wrap .wrap2{
		flex-basis: 100%;
		margin:0px 15px;
	}
	.wrap2{
		padding-top:20px;
		border-top:1px solid whitesmoke;	
	}
	.box-style{
		flex-basis: 100%;
	}
	.box-style p{
		line-height: 1.4em;	
	}
	.footer-wrap{
		width: 100%;
	}
	.footer-wrap .footer-about{
		flex-basis: 100%;
		margin: 0px 10px;
	}	
	.footer-wrap .footer-contact{
		flex-basis:100%;
		margin: 0px 10px;
	}
	.footer-map{
		flex-basis: 90%;
	}
	.contact-wrap{
		top: 10%;	
	}
	.wrap-box-1{
		width: 46%;
		margin: 2%;
	}
	.wrap-box .wrap-box-2{
		width: 42%;
	}
	
	.content-box-1{
		width: 100%;
	}
	.content-img{
		width: 60%;
		margin-left: 35%;
	}
	.box-contact{
		flex-basis: 92%;
		padding: 2%;
		margin: 2%;
	}
	.box-form{
		flex-basis: 92%;
		padding: 2%;
		margin: 2%;
	}
	.profile-wrap .wrap-box-3{
		margin-bottom: 10px;
		margin-right: 2%;
		width: 48%;
	}
	.wrap-body-3 {
		flex-wrap: wrap;
	}
	.wrap-body-3 .box-wrap-1{
		width: 100%;	
	}
	.wrap-body-3 .box-wrap-1 .province-box .box{
		width: 46%;	
	}
	.wrap-body-3 .box-wrap-2{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.wrap-body-3 .box-wrap-2 .box-place{
		width: 28%;	
		flex-wrap: wrap;
	}
	.wrap-body-3 .box-wrap-2 .box-place .box-img{
		width: 100%;
	}
	.wrap-body-3 .box-wrap-2 .box-place .box-title{
		width: 100%;	
	}
	.box-wrap-1 .food-cover .box-food .box-img{
		flex-basis: 100%;	
	}
	.box-wrap-1 .food-cover .box-food .box-title{
		width: 100%;	
	}
}
/* Portrait phone */
@media (max-width: 479px) {
	
	.logo-wrap{
		margin-right: 0px;
	}
	.btn-phone-menu{
		display: block;
		padding: 10px;
	}
	
	.menu-bar{
		display: none;
	}
	.logo{
		width: 60px;
		height: 40px;
	}
	.top-bar{
		display: flex;
		justify-content: center;
	}
	.logo-wrap h3{
		font-size: 13px;
	}
	.logo-wrap span{
		font-size:  10px;	
	}
	.img-wrap{
		margin-top: 115px;
		display: block;
	}
	.phone-menu-bar{
		top: 120px;	
	}

	.parallax-container1{
		display: none;
	}
	.box1 center{
		padding: 15px;
	}
	.content1{
		order: 3;
	}
	.content1,.content2{
		flex-basis: 100%;
	}
	.content2 h4{
		margin: 10px -15px;
	}
	.parallax-container2{	
		height: 280px;
		background-attachment: scroll;
	}
	.us-wrap .wrap1,.us-wrap .wrap2{
		flex-basis: 100%;
		margin: 0px 15px;
	}
	.wrap2{
		padding-top:20px;
		border-top:1px solid whitesmoke;	
	}
	.footer-wrap{
		width: 100%;
	}
	.footer-wrap .footer-about{
		flex-basis: 100%;
		margin: 0px 10px;
	}	
	.footer-wrap .footer-contact{
		flex-basis:100%;
		margin: 0px 10px;
	}
	.footer-map{
		flex-basis: 80%;
		align-self: center;
		margin: 0px;
		padding: 0px;
	}
	.box-style p{
		line-height: 1.4em;	
	}
	.contact-wrap{
		top: 10%;	
	}
	.wrap-box-1,.wrap-box .wrap-box-2{
		width: 100%;
		margin: 10px;
	}
	.wrap-box-2 h2 {
		font-size: 17px;	
	}
	.content-box-1{
		width: 100%;
	}
	.content-img{
		width: 50%;
		margin: 0px 25%;
	}
	.box-contact{
		flex-basis: 92%;
		padding: 2%;
		margin: 2%;
	}
	.box-form{
		flex-basis: 92%;
		padding: 2%;
		margin: 2%;
	}
	.profile-wrap{
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
	.profile-wrap .wrap-box-3{
		margin-bottom: 10px;
		width: 100%;
	}
	.wrap-body-3 {
		flex-wrap: wrap;
	}
	.wrap-body-3 .box-wrap-1{
		width: 100%;	
	}
	.wrap-body-3 .box-wrap-1 .province-box .box{
		width: 45%;	
	}
	.wrap-body-3 .box-wrap-2{
		width: 100%;	
	}
	.box-wrap-1 .food-cover .box-food .box-img{
		flex-basis: 100%;	
	}
	.box-wrap-1 .food-cover .box-food .box-title{
		width: 100%;	
	}
	
}
	